django==3.2.*
celery==5.2.*
click==8.0.*
django-celery-beat==2.2.*
django-celery-results==2.2.*
kombu==5.2.*
jsonpath-ng==1.5.*
more-itertools==8.11.0
psycopg2-binary==2.9.*
mercantile==1.2.*
python-dotenv==0.19.*
requests==2.26.*
